@page
@using webapp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Online Library";
}

<div class="index-container">
    <div class="container books-section">
        <h3>Список книг</h3>

        <div class="filters">
            <form method="get">
                <div class="filter-group">
                    <label for="genre">Жанр:</label>
                    <select id="genre" name="genre">
                        <option value="">Все</option>
                        @foreach (var genre in Model.Genres)
                        {
                            <option value="@genre" selected="@(Model.SelectedGenre == genre)">@genre</option>
                        }
                    </select>
                </div>
                <div class="filter-group">
                    <label for="sort">Сортировка:</label>
                    <select id="sort" name="sort">
                        <option value="Title" selected="@(Model.SelectedSort == "Title")">По названию</option>
                        <option value="Author" selected="@(Model.SelectedSort == "Author")">По автору</option>
                    </select>
                </div>
                <button type="submit">Применить</button>
            </form>
        </div>


        <div class="books-grid">
            @if (Model.Books != null)
            {
                if (Model.BooksSearchResults != null)
                    foreach (var book in Model.BooksSearchResults)
                    {
                        <div class="book">
                            <img src="./image-holder-icon.png" alt="@book.Title Illustration" class="book-illustration">
                            <h2 class="book-title">@book.Title</h2>
                            <p class="book-author">@book.Author</p>
                        </div>
                    }
                else
                    foreach (var book in Model.Books)
                    {
                        <div class="book">
                            <img src="./image-holder-icon.png" alt="@book.Title Illustration" class="book-illustration">
                            <h2 class="book-title">@book.Title</h2>
                            <p class="book-author">@book.Author</p>
                        </div>
                    }
            }
        </div>
    </div>
</div>

